
*.ide-shm
*.ide-wal
*.ide
*.lock
*.cache
[Bb]in/
[Oo]bj/
packages/
*.resources
.vs/WpfCSCS/v16/.suo
.vs/WpfCSCS/v17/.suo
.vs/WpfCSCS/FileContentIndex/aecde625-ac7b-4bce-b730-d9a1ee894bbe.vsidx
ourScripts/
*.vsidx
*.1
*.v2
*.vsidx
*.vsidx
*.v2
.vs/slnx.sqlite
