<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="99.2.12" targetFramework="net48" />
  <package id="cef.redist.x86" version="99.2.12" targetFramework="net48" />
  <package id="CefSharp.Common" version="99.2.120" targetFramework="net48" />
  <package id="CefSharp.Wpf" version="99.2.120" targetFramework="net48" />
  <package id="DevExpress.Charts" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Charts.Core" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.CodeParser" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Data" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.DataAccess" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Gauges.Core" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Images" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Mvvm" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Office.Core" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.PivotGrid.Core" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Reporting.Core" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Core" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Export" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Sparkline.Core" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Wpf.Core" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid.Core" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Wpf.Layout" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Wpf.Navigation" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Wpf.Printing" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016White" version="18.2.14" targetFramework="net48" />
  <package id="DevExpress.Xpo" version="18.2.14" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
</packages>